/* BLOCKCHAIN */

.body--blockchain {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1280px;
}

.main-blockchain {
  display: flex;
  justify-content: space-between;
  align-items: center;

  min-height: 700px;

  margin-top: 60px;
}

.main-blockchain__texto {
  width: 49%;
}

.main-blockchain__texto__titulo {
  font-family: var(--Rubik);
  color: var(--blanco);
  font-size: 60px;

  margin: 20px 0;
}

.main-blockchain__texto__subtitulo {
  font-family: var(--popins);
  color: var(--blanco);
  font-weight: 200;

  margin: 30px 0;
  b {
    color: var(--naranja);
  }
}

/* ---- Seccion de imagen ---- */

.main-blockchain__img {
  position: relative;
}

.main-blockchain__img__fondo {
  position: relative;
  width: 600px;
  right: 0;
}
.main-blockchain__img__bitcoin,
.main-blockchain__img__etherium,
.main-blockchain__img__litecoin,
.main-blockchain__img__dashcoin {
  position: absolute;
}

.main-blockchain__img__bitcoin {
  left: 200px;
  bottom: 250px;

  animation-name: flotar-bitcoin;
  animation-iteration-count: infinite;
  animation-duration: 4s;
}
.main-blockchain__img__etherium {
  left: 115px;
  bottom: 315px;
  width: 75px;

  animation-name: flotar-etherium;
  animation-iteration-count: infinite;
  animation-delay: 0.2s;
  animation-duration: 4s;
}
.main-blockchain__img__litecoin {
  left: 115px;
  bottom: 150px;
  width: 75px;

  animation-name: flotar-lite_dash;
  animation-iteration-count: infinite;
  animation-delay: 0.35s;
  animation-duration: 4s;
}
.main-blockchain__img__dashcoin {
  left: 400px;
  bottom: 150px;
  width: 75px;

  animation-name: flotar-lite_dash;
  animation-iteration-count: infinite;
  animation-delay: 0.5s;
  animation-duration: 4s;
}

.destello-1,
.destello-2,
.destello-3,
.destello-4,
.destello-5 {
  position: absolute;
  width: 150px;
}

.destello-1 {
  left: 83px;
  bottom: 120px;
}
.destello-2 {
  left: 83px;
  bottom: 287px;
}
.destello-3 {
  left: 365px;
  bottom: 287px;
}
.destello-4 {
  left: 367px;
  bottom: 120px;
}
.destello-5 {
  left: 125px;
  bottom: 188px;
  width: 348px;
}

@keyframes flotar-bitcoin {
  0% {
    bottom: 250px;
  }

  50% {
    bottom: 300px;
  }

  100% {
    bottom: 250px;
  }
}
@keyframes flotar-etherium {
  0% {
    bottom: 315px;
  }

  50% {
    bottom: 365px;
  }

  100% {
    bottom: 315px;
  }
}
@keyframes flotar-lite_dash {
  0% {
    bottom: 150px;
  }

  50% {
    bottom: 200px;
  }

  100% {
    bottom: 150px;
  }
}

/* ------ Responsive Pagina BLOCKCHAIN ------ */

/* --- pantallas Laptops (1024px) --- */
@media (max-width: 1024px) {
  .main-blockchain {
    margin: 0 50px;
    margin-top: 80px;
  }

  .main-blockchain__img__fondo {
    width: 400px;
  }

  .main-blockchain__img__bitcoin,
  .main-blockchain__img__etherium,
  .main-blockchain__img__litecoin,
  .main-blockchain__img__dashcoin {
    width: 50px;
  }

  .main-blockchain__img__bitcoin {
    left: 134px;
    bottom: 167px;
    width: 134px;
  }
  .main-blockchain__img__etherium {
    left: 77px;
    bottom: 210px;
  }
  .main-blockchain__img__litecoin {
    left: 76px;
    bottom: 100px;
  }
  .main-blockchain__img__dashcoin {
    left: 267px;
    bottom: 100px;

  }
  .destello-1,
  .destello-2,
  .destello-3,
  .destello-4,
  .destello-5 {
    width: 100px;
  }

  .destello-1 {
    left: 55px;
    bottom: 80px;
  }
  .destello-2 {
    left: 55px;
    bottom: 192px;
  }
  .destello-3 {
    left: 243px;
    bottom: 192px;
  }
  .destello-4 {
    left: 243px;
    bottom: 80px;
  }
  .destello-5 {
    left: 83px;
    bottom: 125px;
    width: 232px;
  }


  @keyframes flotar-bitcoin {
    0% {
      bottom: 167px;
    }
  
    50% {
      bottom: 200px;
    }
  
    100% {
      bottom: 167px;
    }
  }
  @keyframes flotar-etherium {
    0% {
      bottom: 210px;
    }
  
    50% {
      bottom: 244px;
    }
  
    100% {
      bottom: 210px;
    }
  }
  @keyframes flotar-lite_dash {
    0% {
      bottom: 100px;
    }
  
    50% {
      bottom: 133px;
    }
  
    100% {
      bottom: 100px;
    }
  }
  

}

/* --- FIN pantallas Laptops --- */

/* --- pantallas Tablets (768px) --- */
@media (max-width: 768px) {
  .main-blockchain {
    flex-direction: column;

    margin: 20px 50px;
    margin-top: 100px;
  }

  .main-blockchain__texto {
    width: auto;
  }

  .main-blockchain__video {
    width: 700px;
  }

  .main-blockchain__img {
    position: relative;
  }
  
  .main-blockchain__img__fondo {
    position: relative;
    width: 600px;
    right: 0;
  }
  .main-blockchain__img__bitcoin,
  .main-blockchain__img__etherium,
  .main-blockchain__img__litecoin,
  .main-blockchain__img__dashcoin {
    position: absolute;
  }
  
  .main-blockchain__img__bitcoin {
    left: 200px;
    bottom: 250px;
    width: 200px;
  
    animation-name: flotar-bitcoin;
    animation-iteration-count: infinite;
    animation-duration: 4s;
  }
  .main-blockchain__img__etherium {
    left: 115px;
    bottom: 315px;
    width: 75px;
  
    animation-name: flotar-etherium;
    animation-iteration-count: infinite;
    animation-delay: 0.2s;
    animation-duration: 4s;
  }
  .main-blockchain__img__litecoin {
    left: 115px;
    bottom: 150px;
    width: 75px;
  
    animation-name: flotar-lite_dash;
    animation-iteration-count: infinite;
    animation-delay: 0.35s;
    animation-duration: 4s;
  }
  .main-blockchain__img__dashcoin {
    left: 400px;
    bottom: 150px;
    width: 75px;
  
    animation-name: flotar-lite_dash;
    animation-iteration-count: infinite;
    animation-delay: 0.5s;
    animation-duration: 4s;
  }
  
  .destello-1,
  .destello-2,
  .destello-3,
  .destello-4,
  .destello-5 {
    position: absolute;
    width: 150px;
  }
  
  .destello-1 {
    left: 83px;
    bottom: 120px;
  }
  .destello-2 {
    left: 83px;
    bottom: 287px;
  }
  .destello-3 {
    left: 365px;
    bottom: 287px;
  }
  .destello-4 {
    left: 367px;
    bottom: 120px;
  }
  .destello-5 {
    left: 125px;
    bottom: 188px;
    width: 348px;
  }
  
  @keyframes flotar-bitcoin {
    0% {
      bottom: 250px;
    }
  
    50% {
      bottom: 300px;
    }
  
    100% {
      bottom: 250px;
    }
  }
  @keyframes flotar-etherium {
    0% {
      bottom: 315px;
    }
  
    50% {
      bottom: 365px;
    }
  
    100% {
      bottom: 315px;
    }
  }
  @keyframes flotar-lite_dash {
    0% {
      bottom: 150px;
    }
  
    50% {
      bottom: 200px;
    }
  
    100% {
      bottom: 150px;
    }
  }


}

/* --- FIN pantallas Tablets --- */

/* --- pantalla smartphones (375px) --- */
@media (max-width: 375px) {
  .main-blockchain__texto {
    width: auto;
  }

  .main-blockchain__texto__titulo {
    font-size: 38px;
    text-align: center;
  }

  .main-blockchain__texto__subtitulo {
    font-size: 12px;
    text-align: center;

    margin: 15px 0;
  }



  .main-blockchain__img__fondo {
    width: 320px;
  }

  .main-blockchain__img__bitcoin,
  .main-blockchain__img__etherium,
  .main-blockchain__img__litecoin,
  .main-blockchain__img__dashcoin {
    width: 40px;
  }

  .main-blockchain__img__bitcoin {
    left: 107px;
    bottom: 137px;
    width: 107px;
  }
  .main-blockchain__img__etherium {
    left: 62px;
    bottom: 168px;
  }
  .main-blockchain__img__litecoin {
    left: 62px;
    bottom: 80px;
  }
  .main-blockchain__img__dashcoin {
    left: 214px;
    bottom: 80px;

  }
  .destello-1,
  .destello-2,
  .destello-3,
  .destello-4,
  .destello-5 {
    width: 80px;
  }

  .destello-1 {
    left: 44px;
    bottom: 64px;
  }
  .destello-2 {
    left: 44px;
    bottom: 154px;
  }
  .destello-3 {
    left: 195px;
    bottom: 154px;
  }
  .destello-4 {
    left: 195px;
    bottom: 64px;
  }
  .destello-5 {
    left: 67px;
    bottom: 100px;
    width: 186px;
  }


  @keyframes flotar-bitcoin {
    0% {
      bottom: 132px;
    }
  
    50% {
      bottom: 160px;
    }
  
    100% {
      bottom: 132px;
    }
  }
  @keyframes flotar-etherium {
    0% {
      bottom: 168px;
    }
  
    50% {
      bottom: 195px;
    }
  
    100% {
      bottom: 168px;
    }
  }
  @keyframes flotar-lite_dash {
    0% {
      bottom: 80px;
    }
  
    50% {
      bottom: 107px;
    }
  
    100% {
      bottom: 80px;
    }
  }
  



}

/* --- FIN pantalla smartphones --- */
