/* --- ESTILOS PAGINA PRINCIPAL --- */

/* Margenes, paddings y display */


.main,
.segundaSeccion,
.terceraSeccion,
.cuartaSeccion,
.sextaSeccion {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  position: relative;

  margin: 0 25px;
  min-height: 800px;

  gap: 20px;
}
.quintaSeccion {
  @include alinear(center);
}

.segundaSeccion__texto,
.cuartaSeccion__texto,
.sextaSeccion__texto {
  @include alinear(flex-end);
}

.quintaSeccion__texto {
  @include alinear(center);
  margin-bottom: 30px;
}

.sextaSeccion__texto {
  width: 50%;
}

.main__texto__subtitulo,
.segundaSeccion__texto__subtitulo,
.terceraSeccion__texto__subtitulo,
.cuartaSeccion__texto__subtitulo,
.quintaSeccion__texto__subtitulo {
  max-width: 600px;
}

.quintaSeccion__texto__subtitulo {
  width: 800px;
}

/* color y font de titulos */

.main__texto__titulo,
.segundaSeccion__texto__titulo,
.terceraSeccion__texto__titulo,
.cuartaSeccion__texto__titulo,
.quintaSeccion__texto__titulo,
.sextaSeccion__texto__titulo{
  font-family: var(--Rubik);
  color: var(--blanco);
  line-height: 80px;
  word-spacing: -20px;
  font-size: 80px;
  font-weight: 200;

  margin-bottom: 25px;
  display: flex;
  flex-direction: column;
}

.segundaSeccion__texto__titulo,
.cuartaSeccion__texto__titulo,
.sextaSeccion__texto__titulo {
  text-align: right;
}

.main__texto__titulo,
.terceraSeccion__texto__titulo {
  text-align: left;
}

.quintaSeccion__texto__titulo {
  text-align: center;
}

/* Separacion de letras de titulos */

.main__texto__titulo {
  .grande {
    word-spacing: -40px;
  }
}
.segundaSeccion__texto__titulo {
  .grande {
    letter-spacing: -25px;
  }
}

.cuartaSeccion__texto__titulo {
  .grande {
    font-size: 60px;
    letter-spacing: -5px;
  }
}
.sextaSeccion__texto__titulo {
  .grande {
    font-size: 65px;
    letter-spacing: -5px;
  }
}

/* Cambiar color/tamaño de titulo pequeño */
.pequeño {
  color: var(--naranja);
  font-size: 40px;
  line-height: 30px;
}

/* COLOR Y FONTS DE SUBTITULOS */
.main__texto__subtitulo,
.segundaSeccion__texto__subtitulo,
.terceraSeccion__texto__subtitulo,
.cuartaSeccion__texto__subtitulo,
.quintaSeccion__texto__subtitulo,
.sextaSeccion__texto__subtitulo {
  font-family: var(--popins);
  font-size: 20px;
  color: var(--blanco);

  margin-bottom: 60px;
}

.quintaSeccion__texto__subtitulo {
  margin-bottom: 30px;
}

.segundaSeccion__texto__subtitulo,
.cuartaSeccion__texto__subtitulo,
.sextaSeccion__texto__subtitulo {
  text-align: right;
}

.main__texto__subtitulo,
.terceraSeccion__texto__subtitulo {
  text-align: left;
}

.quintaSeccion__texto__subtitulo {
  text-align: center;
}

/* COLOR Y FONTS DE LABELS */

.segundaSeccion__label {
  background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  border-radius: 50px;

  width: 400px;
  padding: 15px;
  left: 20px;

  font-family: var(--popins);
  font-size: 14px;
  color: var(--blanco);
  font-weight: 600;
  text-align: center;

  position: absolute;
  animation-name: flotar-label;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}

.sextaSeccion__label {
  font-family: var(--popins);
  color: var(--blanco);
  font-weight: 600;
  font-size: 24px;
  text-align: right;
  line-height: 25px;

  min-width: 100%;

  margin-top: 30px;
}
/* animacion de flotar */
@keyframes flotar-label {
  0% {
    bottom: 130px;
  }

  50% {
    bottom: 130px;
  }

  100% {
    bottom: 130px;
  }
}
/* BOTONES */

/* margen, padding, display */

.main__boton,
.segundaSeccion__boton,
.terceraSeccion__boton,
.cuartaSeccion__boton,
.quintaSeccion__boton,
.sextaSeccion__boton {
  display: flex;
  justify-content: space-around;
  align-items: center;

  width: 200px;
  padding: 10px 10px;

  background: linear-gradient(91.54deg, #ffb31e 2.78%, #ffe653 104.38%);
  border-radius: 47px;
}

/* color y texto del boton*/
.main__boton__texto,
.segundaSeccion__boton__texto,
.terceraSeccion__boton__texto,
.cuartaSeccion__boton__texto,
.quintaSeccion__boton__texto,
.sextaSeccion__boton__texto {
  color: var(--blanco);
  font-family: var(--Rubik);
  font-size: 20px;

  word-spacing: -8px;
  letter-spacing: -1px;
  margin: auto;
}

/* --- ESTILOS AL CARRUSEL --- */
.carrusel {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;

  font-family: var(--popins);
  color: var(--blanco);
  text-align: center;

  gap: 20px;

  margin: 50px;
}

.carrusel__tarjeta__pvu,
.carrusel__tarjeta__axie,
.carrusel__tarjeta__ctf,
.carrusel__tarjeta__bfc,
.carrusel__tarjeta__ccw,
.carrusel__tarjeta__cm {
  width: 300px;

  border-radius: 20px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 10px;


}

.carrusel__tarjeta__pvu__img,
.carrusel__tarjeta__axie__img,
.carrusel__tarjeta__ctf__img,
.carrusel__tarjeta__bfc__img,
.carrusel__tarjeta__ccw__img,
.carrusel__tarjeta__cm__img {
  width: 100%;
}

.carrusel__tarjeta__pvu__texto,
.carrusel__tarjeta__axie__texto,
.carrusel__tarjeta__ctf__texto,
.carrusel__tarjeta__bfc__texto,
.carrusel__tarjeta__ccw__texto,
.carrusel__tarjeta__cm__texto {
  margin: 5px 10px;
}

.carrusel__tarjeta__pvu__boton,
.carrusel__tarjeta__axie__boton,
.carrusel__tarjeta__ctf__boton,
.carrusel__tarjeta__bfc__boton,
.carrusel__tarjeta__ccw__boton,
.carrusel__tarjeta__cm__boton {
  font-family: var(--Rubik);

  padding: 10px 15px;
  margin: 15px;

  width: 50%;

  word-spacing: -5px;

  background: linear-gradient(91.54deg, #ffb31e 2.78%, #ffe653 104.38%);
  border-radius: 47px;
  display: inline-block;
}

/* ----- ASIGNAR COLORES CON MAP Y EACH -----  */
$colores-tarjetas:(

  pvu: #dc7ae9,
  axie: #44b9ed,
  ctf:#ffb31e,
  bfc: #21b5b0,
  ccw: #f60201,
  cm: #9fa8da

);

@each $tarjeta, $color in $colores-tarjetas {
  .carrusel__tarjeta__#{$tarjeta} {
      background-color: $color;
      box-shadow: 0 0 30px $color;
  }
}
/* ----- FIN ASIGNAR COLORES CON MAP Y EACH -----  */

/* --- IAMGENES ---  */

/* --- IMAGEN S1 --- */
.main__imagen {
  position: relative;
  height: 539px;
  width: 535px;
}

.main__imagen__fondo {
  position: absolute;
  width: 100%;
}

.main__imagen__frente {
  position: absolute;
  width: 45%;
  left: 29%;
  animation-name: flotar-imagen-S1;
  animation-iteration-count: infinite;
  animation-duration: 3s;
}

/* --- animacion de flotar S1 --- */
@keyframes flotar-imagen-S1 {
  0% {
    bottom: 150px;
  }

  50% {
    bottom: 220px;
  }

  100% {
    bottom: 150px;
  }
}

/*  --- RESPONSIVE (1024px) --- */
@media (max-width: 1024px) {
  @keyframes flotar-imagen-S1 {
    0% {
      bottom: 220px;
    }

    50% {
      bottom: 270px;
    }

    100% {
      bottom: 220px;
    }
  }
}

/*  --- RESPONSIVE (768px) --- */

@media (max-width: 768px) {
  .main__imagen {
    height: 592px;
  }
}

/*  --- RESPONSIVE (375px) --- */
@media (max-width: 375px) {
  .main__imagen {
    position: relative;
    height: 375px;
    width: 335px;
  }

  @keyframes flotar-imagen-S1 {
    0% {
      bottom: 130px;
    }

    50% {
      bottom: 170px;
    }

    100% {
      bottom: 130px;
    }
  }
}

/* --- FIN IMAGEN S1 --- */

/* --- IMAGEN S2 --- */

.segundaSeccion__imagen {
  position: relative;
  height: 539px;
  width: 570px;
}

.segundaSeccion__imagen__fondo {
  width: 100%;
}

.segundaSeccion__imagen__principal {
  position: absolute;
  left: 18%;
  animation-name: flotar-imagen-S2__principal;
  animation-iteration-count: infinite;
  animation-duration: 3s;
}

.segundaSeccion__imagen__cubos {
  position: absolute;
  left: 10%;
  animation-name: flotar-imagen-S2__cubos;
  animation-iteration-count: infinite;
  animation-duration: 2.5s;
}

.segundaSeccion__imagen__moneda {
  position: absolute;
  left: 25%;
  bottom: 15%;
  animation-name: flotar-imagen-S2__moneda;
  animation-iteration-count: infinite;
  animation-duration: 2s;
}

.segundaSeccion__imagen__cuadro {
  position: absolute;
  right: 25%;
  bottom: 15%;
  animation-name: flotar-imagen-S2__cuadro;
  animation-iteration-count: infinite;
  animation-duration: 3.8s;
}

.segundaSeccion__imagen__nft {
  position: absolute;
  right: 5%;
  bottom: 30%;
  animation-name: flotar-imagen-S2__nft;
  animation-iteration-count: infinite;
  animation-duration: 3.2s;
}

/* --- animacion de flotar S2 --- */
@keyframes flotar-imagen-S2__cubos {
  0% {
    bottom: 170px;
  }

  50% {
    bottom: 190px;
  }

  100% {
    bottom: 170px;
  }
}

@keyframes flotar-imagen-S2__principal {
  0% {
    bottom: 160px;
  }

  50% {
    bottom: 170px;
  }

  100% {
    bottom: 160px;
  }
}

@keyframes flotar-imagen-S2__moneda {
  0% {
    bottom: 90px;
  }

  50% {
    bottom: 100px;
  }

  100% {
    bottom: 90px;
  }
}

@keyframes flotar-imagen-S2__cuadro {
  0% {
    bottom: 70px;
  }

  50% {
    bottom: 90px;
  }

  100% {
    bottom: 70px;
  }
}

@keyframes flotar-imagen-S2__nft {
  0% {
    bottom: 140px;
  }

  50% {
    bottom: 170px;
  }

  100% {
    bottom: 140px;
  }
}

/*  --- RESPONSIVE (1024px) --- */

@media (max-width: 1024px) {
  .segundaSeccion__imagen__cuadro {
    right: 20%;
  }

  .segundaSeccion__imagen__nft {
    right: -10px;
  }
}

/* --- RESPONSIVE (768px) --- */
@media (max-width: 768px) {
  .segundaSeccion__imagen {
    width: 520px;
  }

  .segundaSeccion__imagen__principal {
    left: 21%;
    width: 340px;
  }
}

/* --- RESPONSIVE (375px) --- */
@media (max-width: 375px) {
  .segundaSeccion__imagen {
    height: 483px;
    width: 340px;
  }

  .segundaSeccion__imagen__principal {
    left: 0;
    width: 340px;
  }

  .segundaSeccion__imagen__cubos {
    width: 100px;
    left: 0;
  }

  .segundaSeccion__imagen__moneda {
    width: 100px;
    left: 60px;

    animation-duration: 2.8s;
  }

  .segundaSeccion__imagen__cuadro {
    width: 100px;
    right: 80px;

    animation-duration: 3.4s;
  }

  .segundaSeccion__imagen__nft {
    width: 100px;
    right: 5px;
  }

  @keyframes flotar-imagen-S2__moneda {
    0% {
      bottom: 110px;
    }

    50% {
      bottom: 140px;
    }

    100% {
      bottom: 110px;
    }
  }

  @keyframes flotar-imagen-S2__cuadro {
    0% {
      bottom: 100px;
    }

    50% {
      bottom: 130px;
    }

    100% {
      bottom: 100px;
    }
  }

  @keyframes flotar-imagen-S2__nft {
    0% {
      bottom: 160px;
    }

    50% {
      bottom: 190px;
    }

    100% {
      bottom: 160px;
    }
  }
}

/* --- FIN IMAGEN S2 --- */

/* --- IMAGEN S3 --- */

.terceraSeccion__imagen {
  position: relative;
  height: 345px;
  width: 500px;
}

.terceraSeccion__imagen__fondo {
  width: 100%;
}

.terceraSeccion__imagen__cubo-1 {
  position: absolute;
  width: 50px;

  left: 13%;

  animation-name: flotar-imagen-S3__cubo-1;
  animation-iteration-count: infinite;
  animation-duration: 3.2s;
}

.terceraSeccion__imagen__cubo-2 {
  position: absolute;
  width: 50px;

  right: 2%;

  animation-name: flotar-imagen-S3__cubo-2;
  animation-iteration-count: infinite;
  animation-duration: 3s;
}

.terceraSeccion__imagen__cubo-3 {
  position: absolute;
  width: 50px;

  left: 11%;

  animation-name: flotar-imagen-S3__cubo-3;
  animation-iteration-count: infinite;
  animation-duration: 3s;
}

.terceraSeccion__imagen__cubo-4 {
  position: absolute;
  width: 50px;

  right: 41%;

  animation-name: flotar-imagen-S3__cubo-4;
  animation-iteration-count: infinite;
  animation-duration: 3.4s;
}

.terceraSeccion__imagen__cubo-5 {
  position: absolute;
  width: 45px;

  right: 16%;

  animation-name: flotar-imagen-S3__cubo-5;
  animation-iteration-count: infinite;
  animation-duration: 3.6s;
}

/* --- animacion de flotar S3 --- */
@keyframes flotar-imagen-S3__cubo-1 {
  0% {
    bottom: 200px;
  }

  50% {
    bottom: 190px;
  }

  100% {
    bottom: 200px;
  }
}

@keyframes flotar-imagen-S3__cubo-2 {
  0% {
    bottom: 110px;
  }

  50% {
    bottom: 120px;
  }

  100% {
    bottom: 110px;
  }
}

@keyframes flotar-imagen-S3__cubo-3 {
  0% {
    bottom: 50px;
  }

  50% {
    bottom: 40px;
  }

  100% {
    bottom: 50px;
  }
}

@keyframes flotar-imagen-S3__cubo-4 {
  0% {
    bottom: -20px;
  }

  50% {
    bottom: -10px;
  }

  100% {
    bottom: -20px;
  }
}

@keyframes flotar-imagen-S3__cubo-5 {
  0% {
    bottom: 200px;
  }

  50% {
    bottom: 210px;
  }

  100% {
    bottom: 200px;
  }
}

/* --- FIN IMAGEN S3 --- */

/*  --- RESPONSIVE (1024px) --- */
@media (max-width: 1024px) {
  .terceraSeccion__imagen {
    height: 320px;
  }

  .terceraSeccion__imagen__cubo-1 {
    left: 12%;
  }

  .terceraSeccion__imagen__cubo-2 {
    right: 1%;
  }

  .terceraSeccion__imagen__cubo-3 {
    left: 10%;
  }

  .terceraSeccion__imagen__cubo-4 {
    right: 40%;
  }

  /* --- animacion de flotar S3 --- */

  @keyframes flotar-imagen-S3__cubo-3 {
    0% {
      bottom: 60px;
    }

    50% {
      bottom: 70px;
    }

    100% {
      bottom: 60px;
    }
  }

  @keyframes flotar-imagen-S3__cubo-4 {
    0% {
      bottom: 0px;
    }

    50% {
      bottom: 10px;
    }

    100% {
      bottom: 0px;
    }
  }

  @keyframes flotar-imagen-S3__cubo-5 {
    0% {
      bottom: 190px;
    }

    50% {
      bottom: 200px;
    }

    100% {
      bottom: 190px;
    }
  }
}

/*  --- RESPONSIVE (768px) --- */
@media (max-width: 768px) {
  .terceraSeccion__imagen {
    height: 345px;
  }

  .terceraSeccion__imagen__cubo-1 {
    left: 13%;
  }

  .terceraSeccion__imagen__cubo-2 {
    right: 2%;
  }

  .terceraSeccion__imagen__cubo-3 {
    left: 11%;
  }

  .terceraSeccion__imagen__cubo-4 {
    right: 41%;
  }

  /* --- animacion de flotar S3 --- */

  @keyframes flotar-imagen-S3__cubo-3 {
    0% {
      bottom: 40px;
    }

    50% {
      bottom: 50px;
    }

    100% {
      bottom: 40px;
    }
  }

  @keyframes flotar-imagen-S3__cubo-4 {
    0% {
      bottom: -15px;
    }

    50% {
      bottom: -5px;
    }

    100% {
      bottom: -15px;
    }
  }

  @keyframes flotar-imagen-S3__cubo-5 {
    0% {
      bottom: 200px;
    }

    50% {
      bottom: 210px;
    }

    100% {
      bottom: 200px;
    }
  }
}

/*  --- RESPONSIVE (375px) --- */
@media (max-width: 375px) {
  .terceraSeccion__imagen {
    width: 335px;
    height: 345px;
  }

  .terceraSeccion__imagen__cubo-1 {
    width: 42px;
    left: 11%;
  }

  .terceraSeccion__imagen__cubo-2 {
    width: 42px;
    right: 1%;
  }

  .terceraSeccion__imagen__cubo-3 {
    width: 42px;
    left: 10%;
  }

  .terceraSeccion__imagen__cubo-4 {
    width: 42px;
    right: 39%;
  }

  .terceraSeccion__imagen__cubo-5 {
    width: 38px;
  }

  /* --- animacion de flotar S3 --- */

  @keyframes flotar-imagen-S3__cubo-1 {
    0% {
      top: 50px;
    }

    50% {
      top: 60px;
    }

    100% {
      top: 50px;
    }
  }

  @keyframes flotar-imagen-S3__cubo-2 {
    0% {
      bottom: 180px;
    }

    50% {
      bottom: 190px;
    }

    100% {
      bottom: 180px;
    }
  }

  @keyframes flotar-imagen-S3__cubo-3 {
    0% {
      bottom: 150px;
    }

    50% {
      bottom: 160px;
    }

    100% {
      bottom: 150px;
    }
  }

  @keyframes flotar-imagen-S3__cubo-4 {
    0% {
      bottom: 100px;
    }

    50% {
      bottom: 110px;
    }

    100% {
      bottom: 100px;
    }
  }

  @keyframes flotar-imagen-S3__cubo-5 {
    0% {
      bottom: 240px;
    }

    50% {
      bottom: 250px;
    }

    100% {
      bottom: 240px;
    }
  }
}

/* --- IMAGEN S4 --- */

.cuartaSeccion__imagen {
  position: relative;
  height: 539px;
  width: 600px;
}

.cuartaSeccion__imagen__control {
  position: absolute;
  z-index: 1;
  width: 100%;
}

.cuartaSeccion__imagen__btc {
  position: absolute;

  left: 15%;

  animation-name: flotar-imagen-S4__btc;
  animation-iteration-count: infinite;
  animation-duration: 3.5s;
}

.cuartaSeccion__imagen__eth {
  position: absolute;

  right: 5%;

  animation-name: flotar-imagen-S4__eth;
  animation-iteration-count: infinite;
  animation-duration: 3s;
}

.cuartaSeccion__imagen__bnb {
  position: absolute;

  left: 18%;

  animation-name: flotar-imagen-S4__bnb;
  animation-iteration-count: infinite;
  animation-duration: 2.6s;
}

/* --- animacion de flotar S4 --- */
@keyframes flotar-imagen-S4__btc {
  0% {
    top: 70px;
  }

  50% {
    top: 110px;
  }

  100% {
    top: 70px;
  }
}

@keyframes flotar-imagen-S4__eth {
  0% {
    top: 230px;
  }

  50% {
    top: 260px;
  }

  100% {
    top: 230px;
  }
}

@keyframes flotar-imagen-S4__bnb {
  0% {
    bottom: 60px;
  }

  50% {
    bottom: 30px;
  }

  100% {
    bottom: 60px;
  }
}

/*  --- RESPONSIVE (1024px) */
@media (max-width: 1024px) {
  .cuartaSeccion__imagen__control {
    top: 10%;
  }
}

/*  --- RESPONSIVE (768px) */
@media (max-width: 768px) {
  .cuartaSeccion__imagen__control {
    top: 0;
  }
}

/*  --- RESPONSIVE (375px) */
@media (max-width: 375px) {
  .cuartaSeccion__imagen {
    height: 350px;
    width: 335px;
  }

  .cuartaSeccion__imagen__control {
    top: 0;
  }

  .cuartaSeccion__imagen__btc {
    width: 100px;
  }

  .cuartaSeccion__imagen__eth {
    width: 100px;
  }

  .cuartaSeccion__imagen__bnb {
    width: 100px;
  }

  /* --- animacion de flotar S4 --- */
  @keyframes flotar-imagen-S4__btc {
    0% {
      top: 30px;
    }

    50% {
      top: 40px;
    }

    100% {
      top: 30px;
    }
  }

  @keyframes flotar-imagen-S4__eth {
    0% {
      top: 130px;
    }

    50% {
      top: 140px;
    }

    100% {
      top: 130px;
    }
  }
}

/* --- FIN IMAGEN S4 --- */

/* --- IMAGEN S6 --- */

.sextaSeccion__imagen {
  position: relative;
  height: 380px;
  width: 600px;
}

.sextaSeccion__imagen__fondo {
  width: 100%;
}

.sextaSeccion__imagen__diamante {
  position: absolute;

  width: 80px;

  left: 42%;

  animation-name: flotar-imagen-S6__diamante;
  animation-iteration-count: infinite;
  animation-duration: 2.8s;
}

/* --- animacion de flotar S6 --- */
@keyframes flotar-imagen-S6__diamante {
  0% {
    top: 0px;
  }

  50% {
    top: 20px;
  }

  100% {
    top: 0px;
  }
}

/* --- RESPONSIVE (1024px) */
@media (max-width: 1024px) {
  .sextaSeccion__imagen {
    height: 370px;
    width: 460px;
  }

  .sextaSeccion__imagen__diamante {
    width: 70px;

    left: 42%;
  }
}

/* --- RESPONSIVE (768px) */
@media (max-width: 768px) {
  .sextaSeccion__imagen {
    width: 460px;
  }
}

/* --- RESPONSIVE (375px) */
@media (max-width: 375px) {
  .sextaSeccion__imagen {
    height: 370px;
    width: 340px;
  }

  .sextaSeccion__imagen__diamante {
    width: 55px;

    left: 42%;
  }
}

/* --- FIN IMAGEN S6 --- */

/* ------------------------------------ Responsive Pagina Principal ------------------------------------ */

/* --- pantallas Laptops (1024px) --- */
@media (max-width: 1024px) {
  /* --- Tamaño secciones */
  .main,
  .segundaSeccion,
  .terceraSeccion,
  .cuartaSeccion,
  .sextaSeccion {
    min-height: 0px;
    margin: 80px 25px;
  }

  /* Cambiar color/tamaño de titulo grande */

  .main__texto__titulo {
    margin-bottom: 0px;
    .grande {
      font-size: 60px;
      letter-spacing: -5px;
      word-spacing: -25px;
    }
  }

  .segundaSeccion__texto__titulo {
    .grande {
      font-size: 84px;
      letter-spacing: -25px;
      margin-right: 25px;
    }
  }

  .terceraSeccion__texto__titulo {
    .grande {
      font-size: 54px;
      line-height: 1;
    }
  }

  .cuartaSeccion__texto__titulo {
    .grande {
      font-size: 48px;
      line-height: 1;
    }
  }
  .quintaSeccion__texto__titulo {
    margin-bottom: 0;
    .grande {
      font-size: 100px;
      line-height: 1;
    }
  }
  .sextaSeccion__texto__titulo {
    .grande {
      font-size: 52px;
      line-height: 1;
    }
  }
  /* --- Cambiar color/tamaño de titulo pequeño --- */

  .segundaSeccion__texto__titulo .pequeño,
  .terceraSeccion__texto__titulo .pequeño,
  .cuartaSeccion__texto__titulo .pequeño,
  .quintaSeccion__texto__titulo .pequeño,
  .sextaSeccion__texto__titulo .pequeño {
    font-size: 30px;
  }

  /* COLOR Y FONTS DE SUBTITULOS */
  .segundaSeccion__texto__subtitulo,
  .terceraSeccion__texto__subtitulo,
  .cuartaSeccion__texto__subtitulo,
  .quintaSeccion__texto__subtitulo,
  .sextaSeccion__texto__subtitulo {
    font-size: 16px;
    color: var(--blanco);

    margin-bottom: 40px;
  }

  .segundaSeccion__texto__subtitulo {
    max-width: 500px;
  }

  /* COLOR Y FONTS DE LABELS */

  .sextaSeccion__label {
    font-size: 20px;
  }

  @keyframes flotar-label {
    0% {
      bottom: 0px;
    }

    50% {
      bottom: 0px;
    }

    100% {
      bottom: 0px;
    }
  }

  /*  --- Carrusel Seccion 5 --- */
  .carrusel {
    margin: 25px;
  }
}
/* --- FIN pantallas Laptops --- */

/* --- pantallas Tablets (768px) --- */
@media (max-width: 768px) {
  /* --- Tamaño secciones */
  .main,
  .segundaSeccion,
  .terceraSeccion,
  .cuartaSeccion,
  .quintaSeccion,
  .sextaSeccion {
    flex-direction: column;
    gap: 60px;

    margin: 80px 30px;
  }
  .main {
    margin-top: 150px;
  }

  .segundaSeccion,
  .cuartaSeccion,
  .sextaSeccion {
    flex-direction: column-reverse;
  }

  .sextaSeccion__texto {
    width: auto;
  }

  .main__texto__subtitulo,
  .segundaSeccion__texto__subtitulo,
  .terceraSeccion__texto__subtitulo,
  .cuartaSeccion__texto__subtitulo,
  .quintaSeccion__texto__subtitulo,
  .sextaSeccion__texto__subtitulo {
    max-width: 800px;
  }

  /* --- COLOR Y FONTS DE SUBTITULOS --- */
  .main__texto__subtitulo,
  .segundaSeccion__texto__subtitulo,
  .terceraSeccion__texto__subtitulo,
  .cuartaSeccion__texto__subtitulo,
  .quintaSeccion__texto__subtitulo,
  .sextaSeccion__texto__subtitulo {
    width: auto;
  }

  /* --- COLOR Y FONTS DE LABELS --- */

  .segundaSeccion__label {
    left: 20%;
  }

  .sextaSeccion__label {
    font-size: 20px;
  }

  /* --- Animacion de Flotar --- */
  @keyframes flotar-label {
    0% {
      bottom: 0px;
    }

    50% {
      bottom: 0px;
    }

    100% {
      bottom: 0px;
    }
  }

  /*  --- Carrusel Seccion 5 --- */
  .carrusel {
    align-items: center;

    margin: 25px;
  }
}
/* --- FIN pantallas Tablets --- */

/* --- pantalla smartphones (375px) --- */
@media (max-width: 375px) {
  /* --- Tamaño secciones --- */
  .main,
  .segundaSeccion,
  .terceraSeccion,
  .cuartaSeccion,
  .quintaSeccion,
  .sextaSeccion {
    margin: 80px 20px;
  }

  .main {
    margin-top: 150px;
  }

  .main__texto__subtitulo,
  .segundaSeccion__texto__subtitulo,
  .terceraSeccion__texto__subtitulo,
  .cuartaSeccion__texto__subtitulo,
  .quintaSeccion__texto__subtitulo {
    max-width: 350px;
  }

  .quintaSeccion {
    gap: 30px;
  }

  /* --- TAMAÑO DE TITULOS GRANDES --- */
  .main__texto__titulo {
    .grande {
      font-size: 42px;
      letter-spacing: -2px;
      line-height: 1;

      margin-bottom: 20px;
    }
  }

  .terceraSeccion__texto__titulo {
    .grande {
      font-size: 38px;
    }
  }

  .cuartaSeccion__texto__titulo {
    .grande {
      font-size: 36px;
      letter-spacing: -1px;
    }
  }

  .quintaSeccion__texto__titulo {
    .grande {
      font-size: 62px;
    }
  }

  .sextaSeccion__texto__titulo {
    .grande {
      font-size: 34px;
      letter-spacing: -1px;
    }
  }

  /* ---  TAMAÑO DE TITULOS PEQUEÑOS --- */

  .main__texto__titulo {
    .pequeño {
      font-size: 28px;
      word-spacing: 0.2px;
    }
  }

  .terceraSeccion__texto__titulo {
    .pequeño {
      font-size: 26px;
    }
  }

  .quintaSeccion__texto__titulo {
    .pequeño {
      font-size: 20px;
      word-spacing: -3px;
    }
  }

  .sextaSeccion__texto__titulo {
    .pequeño {
      font-size: 20px;
      word-spacing: -10px;
    }
  }
  /* --- TAMAÑO DE LABELS --- */

  .segundaSeccion__label {
    font-size: 12px;
    width: 300px;

    left: 0;
  }

  .sextaSeccion__label {
    font-size: 18px;
  }

  /* --- Animacion de Flotar --- */
  @keyframes flotar-label {
    0% {
      bottom: 0px;
    }

    50% {
      bottom: 0px;
    }

    100% {
      bottom: 0px;
    }
  }
}
/* --- FIN pantalla smartphones --- */
