@mixin alinear($align) {
  @extend %flex;
  align-items: $align;
}

@mixin bg_img_sideLeft($class) {
  .#{$class}__bg_images_fondo {
    position: absolute;
    z-index: -2;
    top: -100px;
    left: -600px;
  }
  .#{$class}__bg_images_1 {
    top: 100px;
    left: -300px;
    position: absolute;
    z-index: -1;
  }

  /*  --- RESPONSIVE (1024px) --- */
  @media (max-width: 1024px) {
    .#{$class}__bg_images_fondo {
      top: -300px;
      left: -600px;
    }
    .#{$class}__bg_images_1 {
      top: -100px;
      left: -300px;
    }
  }

  /*  --- RESPONSIVE (375px) --- */
  @media (max-width: 375px) {
    .#{$class}__bg_images_fondo {
        top: -200px;
        left: -400px;
        width: 600px;
    }
    .#{$class}__bg_images_1 {
        top: -75px;
        left: -200px;
        width: 400px;
    }
  }
}

@mixin bg_img_sideRight($class) {
  .#{$class}__bg_images_fondo {
    position: absolute;
    z-index: -2;
    top: 150px;
    right: -150px;
    width: 550px;
  }
  .#{$class}__bg_images_1 {
    top: 200px;
    right: -150px;
    position: absolute;
    width: 450px;
    z-index: -1;
  }

  /*  --- RESPONSIVE (1024px) --- */
  @media (max-width: 1024px) {
    .#{$class}__bg_images_fondo {
      top: 0px;
      right: -20px;
      width: 400px;
    }
    .#{$class}__bg_images_1 {
      top: 50px;
      right: -20px;
      width: 300px;
    }
  }
}

@mixin bg_img_sideCenter($class) {
  .#{$class}__bg_images_fondo {
    position: absolute;
    z-index: -2;
    top: -100px;
    left: 200px;
  }
  .#{$class}__bg_images_1 {
    top: 200px;
    left: 500px;
    position: absolute;
    z-index: -1;
  }

  /*  --- RESPONSIVE (1024px) --- */
  @media (max-width: 1024px) {
    .#{$class}__bg_images_fondo {
      top: 0px;
      left: 200px;
      width: 600px;
    }
    .#{$class}__bg_images_1 {
      top: 50px;
      left: 300px;
      width: 600px;
    }
  }

  /*  --- RESPONSIVE (768px) --- */

  @media (max-width: 768px) {
    .#{$class}__bg_images_fondo {
      left: 75px;
    }
    .#{$class}__bg_images_1 {
      left: 175px;
    }
  }

  /*  --- RESPONSIVE (375px) --- */
  @media (max-width: 375px) {
    .#{$class}__bg_images_fondo {
      left: 0px;
      width: 350px;
      top: 92px;
    }
    .#{$class}__bg_images_1 {
      left: 70px;
      width: 300px;
      top: 100px;
    }
  }
}

@keyframes girar {
  from {
    transform: rotate(0deg) translate(-20px) rotate(0deg);
  }
  to {
    transform: rotate(360deg) translate(-20px) rotate(-360deg);
  }
}
