/* ------------- ESTILOS PAGINAS ------------- */

/* --- NFT --- */

.main-NFT {
  margin-top: 100px;

  min-height: 800px;
  position: relative;

  display: grid;
  grid-template-areas:
    "titulo titulo"
    "texto axies"
    "texto arte";
}

.main-NFT__texto {
  grid-area: titulo;
  justify-self: center;
  align-self: center;
}

.main-NFT__texto__titulo {
  color: var(--blanco);
  font-family: var(--Rubik);
  font-size: 50px;
  text-align: center;
  line-height: 50px;

  display: inline-block;
}

.main-NFT__titulo__letra {
  font-size: 70px;
}

.main-NFT__texto__subtitulo {
  font-family: var(--popins);
  font-weight: 200;
  font-size: 36px;
  color: var(--naranja);
  text-align: center;
  line-height: 30px;
  opacity: 0.5;
}

.main-NFT__contenido {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  align-items: flex-end;
}

.main-NFT__parrafos {
  display: flex;
  flex-direction: column;

  backdrop-filter: blur(10px);

  padding: 10px;

  height: 380px;

  border-radius: 10px;

  grid-area: texto;
}

.main-NFT__parrafo--bold {
  font-family: var(--popins);
  color: var(--blanco);
  font-size: 18px;

  width: 90%;
}

.main-NFT__parrafo {
  font-family: var(--popins);
  color: var(--blanco);
  font-weight: 200;

  width: 80%;
  margin-top: 20px;
}

.gridAxies {
  font-family: var(--popins);
  color: var(--blanco);
  font-weight: 400;
  text-align: center;

  display: flex;
  justify-content: space-between;
  width: 500px;

  position: relative;

  grid-area: axies;
  justify-self: center;
  align-self: end;
}

.gridAxies__rosa,
.gridAxies__verde,
.gridAxies__azul {
  width: 150px;
  position: relative;
}

.axie-pajaro {
  position: absolute;
  animation-name: flotar-axies;
  animation-duration: 3.4s;
  animation-iteration-count: infinite;

  left: 15px;
}

.axie-planta {
  position: absolute;
  animation-name: flotar-axies;
  animation-duration: 4.3s;
  animation-iteration-count: infinite;

  left: 15px;
}

.axie-pez {
  position: absolute;
  animation-name: flotar-axies;
  animation-duration: 3.9s;
  animation-iteration-count: infinite;

  left: 15px;
}

/* animacion de flotar */
@keyframes flotar-axies {
  0% {
    top: -130px;
  }

  50% {
    top: -110px;
  }

  100% {
    top: -130px;
  }
}

.boxArte {
  font-family: var(--popins);
  color: var(--blanco);
  font-size: 14px;

  width: 500px;
  height: 120px;

  background-color: rgba(81, 7, 167, 0.3);
  backdrop-filter: blur(10px);

  border-radius: 40px;
  padding: 10px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  grid-area: arte;
  align-self: center;
}

.boxArte__texto {
  margin-left: 10px;
  font-size: 16px;
  color: var(--blanco);
  b {
    color: var(--naranja);
  }
}
.boxArte__img {
  margin-top: 5px;
  width: 27%;
}

.imagen-fondo-1 {
  position: absolute;
  bottom: -10px;
  left: 0px;
  z-index: -2;
  width: 200px;
}

.imagen-fondo-2 {
  position: absolute;
  right: 50px;
  bottom: -20px;
  z-index: -1;
  width: 200px;
}

/* ----- RUIDO DE FONDO -----  */
.ruido {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;

  background-image: url(../img/noise.gif);
  background-size: auto;
  background-repeat: repeat;
  opacity: 0.04;
  z-index: -1;
}
/* ----- FIN RUIDO DE FONDO -----  */

/* ------ Responsive Pagina NFT ------ */

/* --- pantallas Laptops (1024px) --- */
@media (max-width: 1024px) {
  .main-NFT {
    column-gap: 10px;
  }

  .main-NFT__parrafos {
    height: 330px;
  }

  .main-NFT__parrafo--bold {
    font-size: 14px;
    width: 480px;
  }

  .main-NFT__parrafo {
    font-size: 14px;
    width: 480px;
  }

  .gridAxies {
    font-size: 14px;
    width: auto;
    gap: 5px;
  }

  .axie-pajaro,
  .axie-pez,
  .axie-planta {
    width: 120px;
  }

  .boxArte {
    justify-self: center;

    width: 450px;
    height: 100px;
  }

  .boxArte__texto {
    font-size: 14px;
  }
}

/* --- FIN pantallas Laptops --- */

/* --- pantallas Tablets (768px) --- */
@media (max-width: 768px) {
  .main-NFT {
    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 20px;
    margin-top: 150px;

    width: 700px;
  }

  .main-NFT__texto__titulo {
    font-size: 38px;
  }

  .main-NFT__titulo__letra {
    font-size: 48px;
  }

  .main-NFT__texto__subtitulo {
    font-size: 28px;
  }

  .main-NFT__parrafos {
    text-align: center;
    height: 250px;
    margin-bottom: 120px;
  }

  .main-NFT__parrafo--bold {
    width: auto;
  }

  .main-NFT__parrafo {
    width: auto;
  }

  .gridAxies {
    align-self: center;
  }

  .gridAxies__verde {
    margin-top: 100px;
  }

  .boxArte {
    margin: 60px 0;
  }

  .imagen-fondo-1 {
    width: 150px;
  }

  .imagen-fondo-2 {
    right: 0;
    bottom: -10px;
    width: 150px;
  }
}

/* --- FIN pantallas Tablets --- */

/* --- pantalla smartphones (375px) --- */
@media (max-width: 375px) {
  .main-NFT {
    gap: 10px;

    width: 320px;
    min-height: 1200px;
  }

  .main-NFT__texto__titulo {
    font-size: 32px;
  }

  .main-NFT__titulo__letra {
    font-size: 48px;
  }

  .main-NFT__texto__subtitulo {
    font-size: 28px;
  }

  .main-NFT__parrafos {
    text-align: center;
    height: 320px;
    margin-bottom: 120px;
  }

  .main-NFT__parrafo--bold {
    width: auto;
    font-size: 12px;
  }

  .main-NFT__parrafo {
    width: auto;
    font-size: 12px;
  }

  .gridAxies {
    font-size: 12px;

    align-self: center;
  }

  .gridAxies__rosa,
  .gridAxies__verde,
  .gridAxies__azul {
    width: 100px;
    position: relative;
  }

  .axie-pajaro,
  .axie-pez,
  .axie-planta {
    width: 80px;
  }

  .gridAxies__verde {
    margin-top: 100px;
  }

  /* animacion de flotar */
  @keyframes flotar-axies {
    0% {
      top: -60px;
    }

    50% {
      top: -70px;
    }

    100% {
      top: -60px;
    }
  }

  .boxArte {
    margin: 20px 0;
    width: 300px;
    height: 80px;
  }

  .boxArte__texto {
    font-size: 10px;
  }

  .imagen-fondo-1 {
    width: 180px;
  }

  .imagen-fondo-2 {
    visibility: hidden;
  }
}

/* --- FIN pantalla smartphones --- */
