
@import 'scss_bs/bootstrap.scss';
@import 'mixins.scss';
@import 'extends.scss';
@import 'general.scss';
@import 'index.scss';
@import 'nft.scss';
@import 'blockchain.scss';
@import 'play_to_earn.scss';
@import 'juegos.scss';
@import 'rentabilidad.scss';
@import 'newsletter.scss';
@import 'footer.scss';
@import 'error404.scss';
@import 'background_img.scss';







